*{
    margin:0px;
    padding:0px;
   box-sizing: border-box;

}

.container{
    background-color: #bbbbf1;
   min-height:100vh;
   border:11px solid #1d1e4c;

}

.content{
    max-width: 900px;
    margin:0 auto;
    /* dekho 0 - top me zero pixels
        auto dene se jo bhi likhenge wo center me aa jaega  */
}

.img{
    height:350px;
    width:400px;
    background-size: cover;
    border-radius: 50%;
}

.top{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top h1{
    font-size:50px;
    font-weight: bold;
    color:#1d1e4c;
    text-transform: uppercase;

}
.top h4{
    margin-left:400px;
    font-size:20px ;
}

.about h2{
    margin-top: 15px;
    font-size: 36px;
}

.about p{
    font-size:24px;
    margin-top: 10px;
    letter-spacing: 1.2px; 
}

.bio h3 {
    margin-top:10px;
    font-size:20px;
    /* font-weight: 400; */
}

.bio ul{
    margin-top:10px;
    font-size: 16px;
    font-weight: 450;
    letter-spacing: 1.2px;

}

.bio li{
    margin-top:5px;
    

    
}

.low h5{

    text-align: right;
    margin-top: 20px;
    font-size: 14px;
}

.low a{
    font-size:14px ;
}